/* voici comment faire un commentaire en css */

/*
selecteur {
    propriété:valeur ;
    propriété:valeur ; 
}

*/

body{
    font-family: sans-serif;
    /* je fais en sorte QUE TOUTES LES BALISES qui contiennent du texte n'ont plus de police de caractère avec patte */
}

h1{
    /* border:1px solid blue; 
    font-size: 70px; */
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
}

/* div{
    border:1px dashed red ; 
    margin: 20px 0;
} */
  /* espacement !*/

/* input{
    background: green;
} */

/* toutes balises qui ont l'attribut class="btn-submit" */
.btn-submit{
    background-color: green;
    color : white ; 
    border: none ; 
    border-radius: 5px;
    padding : 5px 10px  ; /* mettre la margin intérieur de 5px en haut en bas et 10 px à gauche et à droite */
    cursor: pointer;
}

.btn-submit:hover{
    scale: 1.2; /* 120% */
}

.btn-reset{
    background-color: blue;
    color : white;
    border:none;
    border-radius: 5px;
    padding : 5px 10px  ;
    cursor: pointer;
}

.form-box{
    width: 400px;
    margin:0 auto; 
    background: aqua;
    padding: 15px 10px;
}

.form-box > div{
    display: flex;
    margin-bottom: 20px;
}

label{
    width: 130px;
}